.repositoryTitle {
  margin-bottom: 20px;

  h5 {
    color: #24292e;
    font-weight: 400;
  }
  .repositoryTitleIcon {
    margin-bottom: 3px;
    color: #586069;
  }
}

.repositoryBar {
  background-color: #FAFBFC;
  padding-top: 20px;
  margin-bottom: 35px;
}