.repositoryTitle {
  margin-bottom: 20px;
  color: #24292e;
  font-weight: 400;
  font-size: 1.25rem;

  .repositoryTitleIcon {
    margin-bottom: 3px;
    color: #586069;
  }
}

.repositoryBar {
  background-color: #FAFBFC;
  padding-top: 20px;
  margin-bottom: 35px;
}