.historyCardHeader {
  padding: 5px 10px !important;
  font-weight: 500;
  font-size: 16px;
  span {
    margin-top: 3px;
  }
  svg {
    margin-bottom: 1px;
    margin-right: 10px;
  }
}

.historyCardBody {
  padding: 10px !important;
  font-size: 13px;
}

.historyCardLabel {
  margin-right: 10px;
  font-weight: 500;
}

.consoleLog {
  transition: all 0.5s;
  opacity: 1;
  max-height: 1000px;
  overflow: auto;
}

.hidden {
  opacity: 0 !important;
  max-height: 0px !important;
  pointer-events: none !important;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}