.consoleHeader {
    background-color: #3a404b !important;
    padding: 5px 15px !important;
    color: #EEEFF1;
}

.consoleBody {
    background-color: #20242A !important;
    color: #EEEFF1;
}

.consoleLine {
    i {
        color: #606a7c !important;
        text-align: right;
        width: 30px;
        margin-right: 10px;
    }
    p {
        margin: 0;
    }
}